.pull-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

table {
  width: 100%;
}

.btn {
  margin-top: 1rem;
}

.align-right {
  text-align: right;
  width: min-content;
}
